{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
</head>

<body>
    <div class="container m-auto"> 
        <style>
            #home-hover:hover{
                color: #be185d;
            }
        </style>
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="/" id="home-hover" >Home </a>/ Upload post for <b>{{user.username}}</b> </h1><br><hr>

        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div>
                <h3 class="text-xl mb-2"> Upload Post</h3>
                <p></p>
            </div>

            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                <p class="m-auto">{% include "messages.html" %}</p>
                <form action="upload" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="flex justify-center flex-center text-center pt-4">

                        <div class="flex flex-col choose-upload text-center p-2" id="image-out">

                            <div class="upload-none bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                                <svg   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                    <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                    <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                </svg>
                            </div>
                            
                            <p class="my-3 leading-6 upload-none"> 
                                Upload pics or videos <br> please upload her ..
                            </p>
                            <img id='output' style="height:100%; width:100%; display:none; margin-bottom: 10px; border-radius: 10px;">

                            <div uk-form-custom>
                                <input type="file" name="upload_image" onchange='openFile(event)'/>
                                <a href="#" class="button soft-warning small"> Choose file</a>
                            </div>
                        </div>


                        <div class="uk-flex uk-flex-column choose-upload" hidden>
                            <div class="mx-auto flex flex-col h-24 items-center justify-center relative w-full rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                    <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <p class="my-3 leading-6"> Import videos from YouTube <br> Copy / Paste your video link here </p>
                            {% comment %} <form class="uk-grid-small" uk-grid> {% endcomment %}
                                <div class="uk-width-expand">
                                    <input type="text" class="uk-input uk-form-small  bg-gray-200 " style="box-shadow:none" placeholder="Paste link">
                                </div>
                                <div class="uk-width-auto mt-4">
                                    <button type="submit" class="button soft-warning -ml-2">
                                        Import
                                    </button>
                                </div>
                            {% comment %} </form> {% endcomment %}
                            <a href="#" class="uk-text-muted mt-3 uk-link" uk-toggle="target: .choose-upload ; animation: uk-animation-slide-left-small, uk-animation-slide-right-medium; queued: true">
                                Or Upload Video
                            </a>
                        </div>
                                    
                    </div>

                    
                    
                    <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <div class="col-span-2">
                            <label for="about">Caption</label>  
                            <textarea id="about" name="caption" rows="3" style="padding:7px" class="shadow-none bg-gray-100">{{ user_profile.bio }}</textarea>
                        </div>
                    </div>
                    <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                        <a href="/" class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </a>
                        <button type="submit" class="button bg-blue-700"> Save </button>
                    </div>
                </form>
            </div>
            
        </div>
        
    </div>
    
    
    
    
    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    
    <script src="{% static '/unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
    
    
</body>

</html>